<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pokédex</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
  <!-- <link rel="stylesheet" href="semantic/dist/semantic.min.css"> -->


  <style type="text/css">
    body>.ui.container {
      margin-top: 3em;
    }

    .ui.container>h1 {
      font-size: 3em;
      text-align: center;
      font-weight: normal;
    }

    .ui.container>h2.dividing.header {
      font-size: 2em;
      font-weight: normal;
      margin: 4em 0em 3em;
    }

    .ui.table {
      table-layout: fixed;
    }
  </style>

</head>

<body>
  <div class="ui container">
    <h2 class="ui horizontal divider header">
      <i class="globe icon"></i>
      Pokédex
    </h2>

    <!-- <div class="ui secondary pointing menu">
      <a class="inactive item">
        Home
      </a>
      <a class="active item">
        Messages
      </a>
      <a class="inactive item">
        Friends
      </a>
    </div> -->

    <div class="ui segment">

      <form method="post" action="/action">
        <input type="submit" value="Drop" />
      </form>

      <table class="ui celled striped table">
        <thead>
          <tr>
            <th class="two wide">ID</th>
            <th>English Name</th>
            <th>Japanese Name</th>
          </tr>
        </thead>
        <tbody>
          {{range .}}
          <tr>
            <td class="collapsing">{{.ID}}</td>
            <td>{{.Name.English}}</td>
            <td>{{.Name.Japanese}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>

    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
  <!-- <script src="semantic/dist/semantic.min.js"></script> -->
</body>

</html>